html,
body {
	font-size: 62.5%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	@include respond(unsupported) {
		@include none;
	}
}
@font-face {
	font-family: 'Open Sans', sans-serif;
	src: url ('./fonts/OpenSans-Regular.ttf');
	font-family: 'Oswald', sans-serif;
	src: url ('.Oswald-VariableFont_wght.ttf');
}

/* // #any {
// 	font-family: 'Oswald';
// 	font-variation-settings: 'wdth' 400, 'wght' 98;
//   } */
