.xOff {
	font-size: 1.5rem;
	width: 20rem;
	margin-right: 2.5rem;
}
.rmBlock {
	background: green;
	// KAIP CIA REIKTU PADARYT KAD REMOVE BUTU .topAdvert block? Ar js naudot ? ACIU
	// display: none;
}
