.topAdvert {
	position: relative;
	@include whitebg;
	@include border-blue;
	width: 100%;
	height: 2rem;
	display: flex;
	justify-content: flex-end;
	@include respond(iphonex) {
		.xOff {
			display: none;
		}
	}
}
.topAdvert:hover {
	@include lightbluebg;
	transition: background 1s;
	.topAdvert__phone__email a {
		@include black;
		font-weight: 200;
	}
}
