.burger {
	background: linear-gradient(#add8e6 10%, #2277ff 90%);
	height: 3rem;
	width: 3rem;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	@include respond(tablet){
		display: none;
	}
	& span {
		@include whitebg;
		@include rounded;
		margin: 0 auto;
		height: 0.20rem;
		width: 1.8rem;
	}
	&::before {
		content: '';
		@include whitebg;
		@include rounded;
		display: inline-block;
		margin: auto;
		width: 1.8rem;
		height: 0.20rem;
	}
	&::after {
		content: '';
		@include whitebg;
		@include rounded;
		display: inline-block;
		margin: auto;
		width: 1.8rem;
		height: 0.20rem;
	}
}