.topAdvert__phone__email a {
	@include oswald;
	@include charcoal;
	@include respond(iphone5) {
		@include prefix;
		margin: 0 2rem;
	}
	text-decoration: none;
	font-size: initial;
	margin-right: 1rem;
}

// @include respond(htc) {
// 	margin: 0 0 0 0.6rem;
// }
// @include respond(iphone5) {
// 	color: pink;
// }
// @include respond(iphonex) {
// 	justify-content: center;
// }
// a:nth-child(2) {
// 	padding-left: 0.8rem;
// 	@include respond(iphone4) {
// 		margin-right: 2.3rem;
// 	}
// }
// a:hover {
// 	color: #2277ff;
// 	text-decoration: underline;
// 	text-decoration-color: #f5f5f5;
// }
// .advert__phone__email {
// 	@media (min-width: 376px) {
// 		padding-right: 1.7rem;
// 	}
// }
